.follower_img {
  width: 120px;
  height: 120px;
  box-shadow:0px 0px  2px 2px #aaa;
}
.follower_name {
  text-align: left;
  font-weight: bold;
}
.follower_status {
  text-align: left;
  font-size: 12px;
}
mat-spinner {
  margin: auto;
}
